USE [Vezba]
GO

CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[companyName] [varchar](50) NULL,
	[contactName] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[fax] [varchar](50) NULL,
	[createddate] [datetime] NULL,
	[modifieddate] [datetime] NULL,
	[createdby] [varchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([id], [companyName], [contactName], [city], [country], [phone], [fax], [createddate], [modifieddate], [createdby]) VALUES (1, N'Sysco', N'Charlotte Cooper', N'Detroit', N'USA', N'216 555 6542', N'123 555 7896', CAST(N'2023-03-17T16:05:19.873' AS DateTime), CAST(N'2023-03-17T16:05:19.873' AS DateTime), N'DESKTOP-4UD7RF2\Lenovo')
INSERT [dbo].[Supplier] ([id], [companyName], [contactName], [city], [country], [phone], [fax], [createddate], [modifieddate], [createdby]) VALUES (2, N'Gordon Food Service', N'Shellay Burke', N'Chicago', N'USA', N'312 555 4231', N'123 555 1234', CAST(N'2023-03-17T16:06:10.963' AS DateTime), CAST(N'2023-03-17T16:06:10.963' AS DateTime), N'DESKTOP-4UD7RF2\Lenovo')
INSERT [dbo].[Supplier] ([id], [companyName], [contactName], [city], [country], [phone], [fax], [createddate], [modifieddate], [createdby]) VALUES (3, N'Dot Foods', N'Regina Marphy', N'Orlando', N'USA', N'612 555 1234', N'123 555 4569', CAST(N'2023-03-17T16:06:40.520' AS DateTime), CAST(N'2023-03-17T16:06:40.520' AS DateTime), N'DESKTOP-4UD7RF2\Lenovo')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_country]  DEFAULT (N'USA') FOR [country]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_createddate]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_modifieddate]  DEFAULT (getdate()) FOR [modifieddate]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_createdby]  DEFAULT (suser_sname()) FOR [createdby]
GO
/****** Object:  Trigger [dbo].[trg_Supplier_UpdateModifiedDate]    Script Date: 3/19/2023 10:23:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Supplier_UpdateModifiedDate]
ON [dbo].[Supplier]
AFTER UPDATE
AS
UPDATE dbo.Supplier
SET modifieddate = CURRENT_TIMESTAMP
WHERE id IN (SELECT DISTINCT id FROM inserted)
GO
ALTER TABLE [dbo].[Supplier] ENABLE TRIGGER [trg_Supplier_UpdateModifiedDate]
GO
